In [122]:
import pandas as pd

In [123]:
df1=pd.read_csv('train.csv')
df2=pd.read_csv('test.csv')

In [124]:
df1.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [125]:
df2.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name'],
      dtype='object')

In [126]:
df1.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [127]:
df1.tail()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [128]:
df2.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [129]:
df2.tail()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [130]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [131]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [132]:
df1.isnull()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8689,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8690,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8691,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8692,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [133]:
df2.isnull()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,False,False,False,False,False,False,False,False,False,False,False,False,False
4273,False,False,False,True,False,False,False,False,False,False,False,False,False
4274,False,False,False,False,False,True,False,False,False,False,False,False,False
4275,False,False,False,False,True,True,False,False,False,False,False,False,False
4276,False,False,False,False,False,False,False,False,False,False,False,False,False

In [134]:
df1.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [135]:
df2.isnull().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [136]:
df1.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [137]:
df2.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,4186.000000,4195.000000,4171.000000,4179.000000,4176.000000,4197.000000
mean,28.658146,219.266269,439.484296,177.295525,303.052443,310.710031
std,14.179072,607.011289,1527.663045,560.821123,1117.186015,1246.994742
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,37.000000,53.000000,78.000000,33.000000,50.000000,36.000000
max,79.000000,11567.000000,25273.000000,8292.000000,19844.000000,22272.000000

In [138]:
df1.shape

(8693, 14)

In [139]:
df2.shape

(4277, 13)

In [140]:
df1.nunique()

PassengerId     8693
HomePlanet         3
CryoSleep          2
Cabin           6560
Destination        3
Age               80
VIP                2
RoomService     1273
FoodCourt       1507
ShoppingMall    1115
Spa             1327
VRDeck          1306
Name            8473
Transported        2
dtype: int64

In [141]:
df2.nunique()

PassengerId     4277
HomePlanet         3
CryoSleep          2
Cabin           3265
Destination        3
Age               79
VIP                2
RoomService      842
FoodCourt        902
ShoppingMall     715
Spa              833
VRDeck           796
Name            4176
dtype: int64

In [142]:
def fillnaObjectMode(cols):
    for col in cols:
        df1[col] = df1[col].fillna(df1[col].mode()[0])

object_cols = df1.select_dtypes(include="object").columns.tolist()
fillnaObjectMode(object_cols)

C:\Users\M.Rameez\AppData\Local\Temp\ipykernel_4920\1170843720.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1[col] = df1[col].fillna(df1[col].mode()[0])

In [143]:
def fillnaObjectMode(cols):
    for col in cols:
        df2[col] = df2[col].fillna(df2[col].mode()[0])

object_cols = df2.select_dtypes(include="object").columns.tolist()
fillnaObjectMode(object_cols)

C:\Users\M.Rameez\AppData\Local\Temp\ipykernel_4920\1231217743.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2[col] = df2[col].fillna(df2[col].mode()[0])

In [144]:
def fillnaIntMode(cols):
    for col in cols:
        df1[col] = df1[col].fillna(df1[col].mode()[0])

int_cols = df1.select_dtypes(include="int64").columns.tolist()
fillnaIntMode(int_cols)

In [145]:
def fillnaIntMode(cols):
    for col in cols:
        df2[col] = df2[col].fillna(df2[col].mode()[0])

int_cols = df2.select_dtypes(include="int64").columns.tolist()
fillnaIntMode(int_cols)

In [146]:
def fillnaFloatMean(cols):
    for col in cols:
        df1[col] = df1[col].fillna(df1[col].mean())

float_cols = df1.select_dtypes(include="float64").columns.tolist()
fillnaFloatMean(float_cols)

df1.isnull().sum()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8693 non-null   object
 2   CryoSleep     8693 non-null   bool
 3   Cabin         8693 non-null   object
 4   Destination   8693 non-null   object
 5   Age           8693 non-null   float64
 6   VIP           8693 non-null   bool
 7   RoomService   8693 non-null   float64
 8   FoodCourt     8693 non-null   float64
 9   ShoppingMall  8693 non-null   float64
 10  Spa           8693 non-null   float64
 11  VRDeck        8693 non-null   float64
 12  Name          8693 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(3), float64(6), object(5)
memory usage: 772.7+ KB

In [147]:
def fillnaFloatMean(cols):
    for col in cols:
        df2[col] = df2[col].fillna(df2[col].mean())

float_cols = df2.select_dtypes(include="float64").columns.tolist()
fillnaFloatMean(float_cols)

df2.isnull().sum()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Cabin         4277 non-null   object
 4   Destination   4277 non-null   object
 5   Age           4277 non-null   float64
 6   VIP           4277 non-null   bool
 7   RoomService   4277 non-null   float64
 8   FoodCourt     4277 non-null   float64
 9   ShoppingMall  4277 non-null   float64
 10  Spa           4277 non-null   float64
 11  VRDeck        4277 non-null   float64
 12  Name          4277 non-null   object
dtypes: bool(2), float64(6), object(5)
memory usage: 376.0+ KB

In [148]:
def changeFloatToInt(cols):
    for col in cols:
        df1[col] = df1[col].astype("int64")

float_cols = df1.select_dtypes(include="float64").columns.tolist()
changeFloatToInt(float_cols)

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8693 non-null   object
 2   CryoSleep     8693 non-null   bool
 3   Cabin         8693 non-null   object
 4   Destination   8693 non-null   object
 5   Age           8693 non-null   int64
 6   VIP           8693 non-null   bool
 7   RoomService   8693 non-null   int64
 8   FoodCourt     8693 non-null   int64
 9   ShoppingMall  8693 non-null   int64
 10  Spa           8693 non-null   int64
 11  VRDeck        8693 non-null   int64
 12  Name          8693 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(3), int64(6), object(5)
memory usage: 772.7+ KB

In [149]:
def changeFloatToInt(cols):
    for col in cols:
        df2[col] = df2[col].astype("int64")

float_cols = df2.select_dtypes(include="float64").columns.tolist()
changeFloatToInt(float_cols)

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Cabin         4277 non-null   object
 4   Destination   4277 non-null   object
 5   Age           4277 non-null   int64
 6   VIP           4277 non-null   bool
 7   RoomService   4277 non-null   int64
 8   FoodCourt     4277 non-null   int64
 9   ShoppingMall  4277 non-null   int64
 10  Spa           4277 non-null   int64
 11  VRDeck        4277 non-null   int64
 12  Name          4277 non-null   object
dtypes: bool(2), int64(6), object(5)
memory usage: 376.0+ KB

In [150]:
from sklearn.preprocessing import LabelEncoder
import numpy as np

def convertObjToInt(cols):
    for col in cols:
        unique_vals = pd.DataFrame({col: df1[col].unique()})
        le = LabelEncoder()
        le.fit(np.ravel(unique_vals))
        df1[col] = le.transform(df1[col])

object_cols = df1.select_dtypes(include="object").columns.tolist()
convertObjToInt(object_cols)

In [151]:
from sklearn.preprocessing import LabelEncoder
import numpy as np

def convertObjToInt(cols):
    for col in cols:
        unique_vals = pd.DataFrame({col: df2[col].unique()})
        le = LabelEncoder()
        le.fit(np.ravel(unique_vals))
        df2[col] = le.transform(df2[col])

object_cols = df2.select_dtypes(include="object").columns.tolist()
convertObjToInt(object_cols)

In [152]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   int64
 1   HomePlanet    8693 non-null   int64
 2   CryoSleep     8693 non-null   bool
 3   Cabin         8693 non-null   int64
 4   Destination   8693 non-null   int64
 5   Age           8693 non-null   int64
 6   VIP           8693 non-null   bool
 7   RoomService   8693 non-null   int64
 8   FoodCourt     8693 non-null   int64
 9   ShoppingMall  8693 non-null   int64
 10  Spa           8693 non-null   int64
 11  VRDeck        8693 non-null   int64
 12  Name          8693 non-null   int64
 13  Transported   8693 non-null   bool
dtypes: bool(3), int64(11)
memory usage: 772.7 KB

In [153]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   int64
 1   HomePlanet    4277 non-null   int64
 2   CryoSleep     4277 non-null   bool
 3   Cabin         4277 non-null   int64
 4   Destination   4277 non-null   int64
 5   Age           4277 non-null   int64
 6   VIP           4277 non-null   bool
 7   RoomService   4277 non-null   int64
 8   FoodCourt     4277 non-null   int64
 9   ShoppingMall  4277 non-null   int64
 10  Spa           4277 non-null   int64
 11  VRDeck        4277 non-null   int64
 12  Name          4277 non-null   int64
dtypes: bool(2), int64(11)
memory usage: 376.0 KB

In [154]:
import pandas as pd
import numpy as np

def convert_bool_to_int64(df1):
    
    bool_cols = df1.select_dtypes(include=["bool"]).columns
    
    
    df1[bool_cols] = df1[bool_cols].astype("int64")
    
    return df1
df1 = convert_bool_to_int64(df1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   int64
 1   HomePlanet    8693 non-null   int64
 2   CryoSleep     8693 non-null   int64
 3   Cabin         8693 non-null   int64
 4   Destination   8693 non-null   int64
 5   Age           8693 non-null   int64
 6   VIP           8693 non-null   int64
 7   RoomService   8693 non-null   int64
 8   FoodCourt     8693 non-null   int64
 9   ShoppingMall  8693 non-null   int64
 10  Spa           8693 non-null   int64
 11  VRDeck        8693 non-null   int64
 12  Name          8693 non-null   int64
 13  Transported   8693 non-null   int64
dtypes: int64(14)
memory usage: 950.9 KB

In [155]:
import pandas as pd
import numpy as np

def convert_bool_to_int64(df1):
    
    bool_cols = df2.select_dtypes(include=["bool"]).columns
    
    
    df2[bool_cols] = df2[bool_cols].astype("int64")
    
    return df2
df2 = convert_bool_to_int64(df2)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   int64
 1   HomePlanet    4277 non-null   int64
 2   CryoSleep     4277 non-null   int64
 3   Cabin         4277 non-null   int64
 4   Destination   4277 non-null   int64
 5   Age           4277 non-null   int64
 6   VIP           4277 non-null   int64
 7   RoomService   4277 non-null   int64
 8   FoodCourt     4277 non-null   int64
 9   ShoppingMall  4277 non-null   int64
 10  Spa           4277 non-null   int64
 11  VRDeck        4277 non-null   int64
 12  Name          4277 non-null   int64
dtypes: int64(13)
memory usage: 434.5 KB

In [156]:
# Prepare training data - exclude PassengerId as it's just an ID
train_x = df1.drop(['Transported', 'PassengerId'], axis=1)
train_y = df1['Transported']

# Also prepare test data without PassengerId for prediction
df2_features = df2.drop('PassengerId', axis=1)

In [157]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import cross_val_score
import numpy as np

# Try XGBoost first (usually better performance), fallback to RandomForest if not available
try:
    import xgboost as xgb
    # XGBoost model - typically achieves 80%+ accuracy
    model = xgb.XGBClassifier(
        n_estimators=300,
        max_depth=7,
        learning_rate=0.1,
        subsample=0.8,
        colsample_bytree=0.8,
        random_state=42,
        eval_metric='logloss',
        use_label_encoder=False
    )
    print("Using XGBoost model")
except ImportError:
    # Improved RandomForest as fallback
    model = RandomForestClassifier(
        n_estimators=300,
        max_depth=20,
        min_samples_split=5,
        min_samples_leaf=2,
        max_features='sqrt',
        random_state=42,
        n_jobs=-1
    )
    print("Using RandomForest model (install xgboost for better performance: pip install xgboost)")

# Train the model
model.fit(train_x, train_y)

# Cross-validation to check accuracy
cv_scores = cross_val_score(model, train_x, train_y, cv=5, scoring='accuracy')
print(f"\nCross-validation accuracy: {cv_scores.mean():.4f} (+/- {cv_scores.std() * 2:.4f})")
print(f"Individual CV scores: {cv_scores}")
print(f"Expected Kaggle score: ~{cv_scores.mean()*100:.2f}%")

Using RandomForest model (install xgboost for better performance: pip install xgboost)

Cross-validation accuracy: 0.7924 (+/- 0.0278)
Individual CV scores: [0.78148361 0.77228292 0.79585969 0.81127733 0.8009206 ]
Expected Kaggle score: ~79.24%

In [158]:
pred = model.predict(df2_features)
# Convert predictions to boolean (True/False) for Kaggle submission format
pred = pred.astype(bool)

In [159]:
# Read original PassengerId from test.csv to preserve string format
df2_original = pd.read_csv('test.csv')
submission = pd.DataFrame({
    "PassengerId": df2_original["PassengerId"],
    "Transported": pred
})

submission.to_csv("submissions.csv", index=False)